PORT=4000
NODE_ENV=development
APOLLO_SANDBOX=true

# Untuk development lokal (jalankan service langsung di host, bukan Docker)
AUTH_SERVICE_URL=http://localhost:3001
ITEM_SERVICE_URL=http://localhost:3002
SUPPLIER_SERVICE_URL=http://localhost:3003
STOCK_SERVICE_URL=http://localhost:3004
REPORT_SERVICE_URL=http://localhost:3005
HISTORY_SERVICE_URL=http://localhost:3006
NOTIFICATION_SERVICE_URL=http://localhost:3008
PURCHASE_ORDER_SERVICE_URL=http://localhost:8003
